* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.header-contenuto {
    padding: 40px;
    margin-top: 15px;
}


.section-1 {
    padding: 200px;
    margin-top: 15px;
}
.section-2 {
   height: 500px;
   margin-top: 15px; 
}
main>section.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.titolo-articolo {
    height: 30px;
}
.content-aside-left {
    height: 450px;
    margin-top: 5px;
    width:20%;

    float: left;
    margin-right: 5px;
}

.content-aside-right {
    height: 450px;
    margin-top: 5px;
    width:20%;
    float: left;
    margin-left: 5px;
}
.content-centre {
    height: 450px;
    margin-top: 5px;
    width:calc(100% - 40% - 10px);
    float: left;
   
}

.contenuto-footer {
    height: 100px;
    margin-top: 15px;
}
/* impostazione colori dei blocchi  */
#color-pink {
    background-color: pink;
}
#color-yellow {
    background-color: yellow;
}
#color-royalblue {
    background-color: royalblue;
}
.color-skyblue {
    background-color: skyblue;
}
#color-viola {
    background-color: violet;
}