* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.header-contenuto {
    padding: 40px;
    margin-top: 15px;
}


.section-1 {
    padding: 200px;
    margin-top: 15px;
}
.section-2 {
   margin-top: 15px;
   padding-bottom: 15px;
}
main>section.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.titolo-articolo {
    height: 30px;
}
.content-aside-left {
    height: 450px;
    margin-top: 15px; 
    width:19%;

    float: left;
    margin-right: 1%;
}

.content-aside-right {
    height: 450px;
    margin-top: 15px;
    width:19%;
    float: left;
    margin-left: 1%;
}
.content-centre {
    height: 450px;
    margin-top: 15px;
    width:60%;
    float: left;
   
}

.contenuto-footer {
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* impostazione colori dei blocchi  */
#color-pink {
    background-color:#e479e6;
}
#color-yellow {
    background-color:#e1d77a;
}
#color-royalblue {
    background-color: #0088ff;
}
.color-skyblue {
    background-color: #abcfe7;
}
#color-viola {
    background-color: #8a00fb;
}